*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  color: black;
  background: red;
  animation: 100s change infinite ease-in-out;
  
}
.all {
  color: rgba(225,200,100,0.9);
  font-family: arial;
  text-align: center;
  font-weight: 1000;
}



@keyframes change{
  0%{
    filter: hue(180deg);
  }
  20%{
    background: linear-gradient(to left, #f00, #0f0);
  }
  
  40%{
   background: radial-gradient(circle, #00f,#0f0, #f00);
  }
  60%{
   background: conic-gradient(green,red);
  }
  80%{
  background: linear-gradient(bottom, red,blue)
  }
  
  100%{
  background: linear-gradient(to top, green, blue);
  }
}
div {
  opacity: 1;
  width: 350px;
  margin: 20px;
  height: 400px;
  border: lightgreen solid 5px;
  border-radius: 30px;
}
img {
  width: 340px;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
}
div p {
  font-family: cursive;
  font-size: 25px;
  position: absolute;
  left: 32px;
}
.foot {
  font-family: arial;
  animation: foot 1s infinite linear;
}
@keyframes foot {
  0%{
    color: red;
    filter: hue(30deg);
  }
  20%{
    color: pink;
    filter: hue(60deg);
  }
  40%{
    color: blue;
  }
  60%{
    color: royalblue;
  }
  80%{
    color: green;
  }
  100%{
    color: black;
  }
  
}
h6{
  font-size: 30px;
}
ul {
  list-style-type: disc;
  line-height: 1.5;
  font-family: cursive;
  font-size: 30px;
}
